.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.git
.gitignore
*.pyc
*.pyo
*.pyd
*.db-shm
*.db-wal
*.zip
dist
build
data/raw
data/interim
data/processed
data/predictions
artifacts
mlruns
logs
notebooks
